a.about {
    text-decoration:none;
}

a.title {
    text-decoration:none;
}

.table_left{
    text-align:left;
}

.table_right{	
    text-align:right;
}

.profile_table{
    width: 100%;
}

html {
    height: 100%;
}

body
{
    height:100%
}

.list
{
    position: relative;
}

.inner
{
    text-align:left;
    position: relative;
}

a.astyle:hover
{
    text-decoration:underline;
}

a.astyle:link
{
    text-decoration:none;
}

.page-date {
    float:right;
    align:right;
}

.footer {
    margin-top:-20px;
    height:20px;
    text-align: center;
}

.wrap {
    min-height:100%
}

.main {
    padding-bottom:20px;
}
