<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112067828-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112067828-1');
    </script>

    <link rel="stylesheet" type="text/css" href="/blog/basic.css" />
    <link rel="stylesheet" type="text/css" href="/blog/rough.css" />
<link href="/blog/icon.ico" rel="shortcut icon">
<title>Doom</title>
</head>
<body class="font-style">
<div class="wrap">
<div class="main">
<a class="title" href="{{ site.baseurl }}{{ post.url }}/">Doom</a>
<a class="about" href="{{ site.baseurl }}{{ post.url }}/about">关于</a>
<hr color=#DCDCDC SIZE=2>


