---
layout: default
---
<h1>{{ page.title }}{{ page.shortUrl }}</h1>
<div class='separator'></div>
        
{{ content }}
        
{% if site.disqus-id %} {% include comments.html %} {% endif %}
<hr>
<script>
    var idcomments_acct = 'ec703e6b6975d9c9e8aa57af86983432';
    var idcomments_post_id;
    var idcomments_post_url;
</script>
<script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>
<script>
    var idcomments_acct = 'ec703e6b6975d9c9e8aa57af86983432';
    var idcomments_post_id;
    var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>